<h1 style="color: black; margin-left: 50%; margin-top: -5%;" >Lista de contenidos</h1>

<div class="text-center" style="color: black; margin-left: 20%; font-size:15px">
    <table class="text-center" style="background-color:darkgray; border: 1px solid black;">
        <thead>
            <tr class="text-center">
            <th>id</th>
            <th>nombre</th>
            <th>username</th>
            <th>email</th>
            <th>Editar</th>
            <th>Eliminar</th>
            
            
           
            </tr>
        </thead>
        <tbody class="text-center" style="background-color:darkgray; border: 1px solid black;">
            <tr *ngFor="let todos of todos" class="text-center" >
                <td style="background-color:darkgray; border: 1px solid black;">{{todos.id}}</td>
                <td style="background-color:darkgray; border: 1px solid black;">{{todos.name}}</td>
                <td style="background-color:darkgray; border: 1px solid black;">{{todos.username}}</td> 
                <td style="background-color:darkgray; border: 1px solid black;">{{todos.email}}</td> 
                <td ><button [routerLink]="['/contenido/edit',todos.id]" class="btn btn-warning" >Editar</button></td> 
                <td ><button  (click)="editar(todos)" class="btn btn-warning" >Editar2</button></td> 
                <td ><button class="btn btn-danger" (click)="delete(todos)">Eliminar</button></td> 
                <!--<td ><button class="btn btn-danger" (click)="deleteCategoria(todos)">Eliminar2</button></td> -->
            </tr>


        </tbody>
    </table>
    <!--<select [(ngModel)]="peel">
        <option *ngFor="let peel of peel" [value]="peel.id" >
            {{peel.title}}
        </option>
        
    </select>-->

</div>
