<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSAE7ZqksMWnvCRmkctY_XqpWj_13a_u6ryad8LCr7g5pmvKjrL&usqp=CAU" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0">Equipo ValorPoli</h4>
          <p class="font-weight-light text-muted mb-0">Poli</p>
        </div>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"></p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/contenido" class="nav-link text-dark font-italic bg-light">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  Inicio
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contenido" aria-disabled="true" class="nav-link text-dark font-italic">
                  <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                  Perfil 
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contenido/add" class="nav-link text-dark font-italic">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw fas fa-plus-circle"></i>
                  Crear Contenido
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contenido/list" class="nav-link text-dark font-italic">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  Mis contenidos
              </a>
      </li>
    </ul>
  
    
  </div>
  <!-- End vertical navbar -->
  
  
  <!-- Page content holder -->
  <div class="page-content p-5" id="content">

   
    <!-- Toggle button -->
    <button id="menu" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
    
   